:root {
    /* Define global CSS variables for colors */
    --color-primary: #FDDA0D;
    --color-primary-variant: #221F1F;
    --color-bg-1: #191919;
    --color-bg-2: #2C2C2C;
    --color-bg-3: #333333;
    --color-accent-1: #DD6BCD;
    --color-accent-2: #67DAFA;
    --color-accent-3: #FCE00A;
    --color-grey-1: #E9EBEC;
    --color-grey-2: #706F6F;
    --color-dark-1: #0E0E0E;
    --color-light: #EFEFEF;
    --color-light-variant: #A1B4C4;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Overpass';
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: var(--color-bg-1);
    color: var(--color-light);
}
img {
    -webkit-user-drag: none;
    -user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#header{
    width: 100%;
    height: 65vh;
    /*background-image: url(/images/logos/logo_y&b.png);
    background-size: cover;
    background-position: center;*/
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: var(--color-grey-1);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--color-accent-3);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span {
    color: var(--color-accent-3);
}
.dynamic-text {
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
}
/* ------------- About --------------- */
#about{
    /*height: 65vh;*/
    padding: 80px 0;
    color: var(--color-light);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: var(--color-light);
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--color-accent-3);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: var(--color-accent-3);
    font-size: 14px;
}
/* ------------- Pricing --------------- */
#pricing{
    padding: 30px 0;
    /*height: 65vh;*/
}
.pricing-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.pricing-list div{
    background:var(--color-bg-2);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.pricing-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.pricing-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15;
}
.pricing-list div a{
    text-decoration: none;
    color: var(--color-dark-1);
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
}
.pricing-list div:hover{
    color: var(--color-dark-1);
    background: var(--color-accent-3);
    transform: translateY(-10);
}
/* ------------- Portfolio --------------- */
#portfolio{
    padding: 30px 0;
    /*height: 65vh;*/
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),var(--color-grey-2));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: var(--color-accent-3);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: var(--color-bg-2);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--color-accent-3);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--color-bg-1);
    background-color: var(--color-accent-3);
    transition: background 0.5s;
}
.btn:hover{
    background-color: var(--color-grey-2);
    color: var(--color-light);
    border: 1px solid var(--color-grey-2);
}
/* ------------- Contact --------------- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p a{
    color: var(--color-light);
}
.contact-left p i{
    color: var(--color-accent-3);
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;  
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: var(--color-light);
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: var(--color-accent-3);
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: var(--color-accent-3);
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    transition: background 0.3s;
}
.btn.btn2:hover{
    background-color: var(--color-grey-2);
    color: var(--color-light);
    border: 1px solid var(--color-grey-2);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: var(--color-light);
    padding: 15px;
    margin: 15px 0;
    color: var(--color-bg-2);
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    display: inline-block;
    background: var(--color-accent-3);
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    transition: background 0.3s;
}
form .btn2:hover{
    background-color: var(--color-grey-2);
    color: var(--color-light);
    border: 1px solid var(--color-grey-2);
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: var(--color-bg-2);
    font-weight: 300;
    margin-top: 20px;
}
/* ------------- Scroll to top Button ---------------*/
.scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: var(--color-accent-3);
    color: var(--color-dark-1);
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    font-size: 16px;
}

.scrollToTopBtn.show {
    opacity: 1;
    visibility: visible;
}

.scrollToTopBtn i {
    margin-right: 8px;
    font-size: 24px;
}
/* ------------- CSS for Smaller Screen --------------- */
nav .fas{
    display: none;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    #header{
        background-image: url(images/logos/logo_y&b.png);
    }
    .header-text{
        margin-top: 45%;
        font-size: 25px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: var(--color-bg-3);
        position: fixed;
        top: 0;
        right: -200px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}